body{
    background-color: #373737;
    margin: 0;
    color: #fff;

}
header{
    background-color: #CCCCCC;
    height: 50px; 
}
#logo{
    float: left;
    margin-left: 20px;
}
nav{
    float: right;
    margin-right: 20px;
}
nav a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
}
.col{
    clear: both;
   width: 400px;
   float: left;
   text-align: justify;
}
.col h3 {
    background-color: #303030;
    padding: 15px;
}
footer{
    text-align: center;
}